
*{
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

/* start ADVERTISE RULES */

.advertise {
    display: flex;
    justify-content: center;
}

/* start ADVERTISE RULES */

/* start HEADER RULES */

.header-container {
    max-width: 1024px;
    width: 100%;
    height: 351px;
    font-family: Roboto, sans-serif;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header1 {
    font-weight: bold;
    font-stretch: condensed;
    height: 24px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
    padding-top: 5px;
}

.header1 span {
    color: #4f9eff;
}

.header1 a:link, .header1 a:visited, .header1 a:hover {
    text-decoration: none;
    color: #005ac8;
}

.navbar1 {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dddddd;
    position: relative;
}

.navbar1 a:link, .navbar1 a:visited {
    text-decoration: none;
    font-family: serif;
    color: black;
    font-size: 17px;
}

.navbar1 a:hover {
    text-decoration: underline;
}

#menu-primary {
    list-style-type: none;
    font-family: sans-serif;
}

#menu-primary li {
    height: 100%;
    width: 50px;
    float: left;
    padding-top: 20px;
    display: block;
}

#menu-primary li:first-child {
    margin-left: 20px;
    padding-top: 22px;
    width: 30px;
}

#menu-primary li:last-child {
    width: 200px;
}

#menu-secondary {
    position: absolute;
    right: 10px;
}

#menu-secondary li {
    height: 100%;
    width: 60px;
    float: left;
    margin-top: 20px;
    display: block;
}

#menu-secondary li:nth-child(2) {
    border-left: 1px solid #dddddd;
    padding-left: 10px;
    width: 80px;
}

#menu-secondary li:last-child {
    width: 30px;
}

.main-header .menu-button {
    display: none;
}

.main-header .search {
    display: none;
}

.main-header h1 {
    text-align: center;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: #4f9eff;
    margin-top: 30px;
    margin-bottom: 20px;
}

.weather {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.weather ul {
    list-style-type: none;
}

.weather ul li {
    float: left;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

.weather ul li a:link, .weather ul li a:visited {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: darkgrey;
}

.weather ul li a:hover {
    color: #005ac8;
    font-size: 14px;
}

.weather ul li:last-child {
    padding-top: 2px;
    padding-left: 5px;
}

/*end HEADER RULES*/

/*start MAIN-NAVBAR RULES*/

.main-navbar {
    display: flex;
    justify-content: center;
    height: 45px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.main-navbar ul {
    list-style-type: none;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    font-family: Inter, sans-serif;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.main-navbar ul li {
    padding: 6px;
}

.main-navbar ul li a:link, .main-navbar ul li a:visited {
    text-decoration: none;
    color: black;
}

.main-navbar ul li a:hover {
    color: #005ac8;
}

.main-navbar ul li:first-child {
    position: absolute;
    left: 10px;
}

.citta:link, .citta:hover, .citta:visited {
    color: #ee3840;
}

.drop-button {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border: 0;
    background-color: white;
    cursor: pointer;
}

/*end MAIN-NAVBAR RULES*/

/* start DROP DOWN MENU RULES */

.drop-down-menu {
    display: none;
    position: absolute;
    left: 700px;
    top: 300px;
    width: 200px;
    border: 1px solid #dddddd;
    z-index: 1;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    border-radius: 5px;
}

.drop-down-menu ul {
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;
    font-family: Inter, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

.drop-down-menu ul li {
    padding: 6px;
}

.drop-down-menu ul li a:link, .drop-down-menu ul li a:visited {
    text-decoration: none;
    color: black;
}

.drop-down-menu ul li a:hover {
    color: #005ac8;
}

/* end DROP DOWN MENU RULES */

/*start NEWS-NAVBAR RULES*/

.news-navbar {
    display: flex;
    justify-content: center;
    height: 45px;
    border-top: 1px solid #dddddd;
}

.news-navbar ul {
    list-style-type: none;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    font-family: Inter, sans-serif;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.news-navbar ul li {
    padding: 6px;
}

.news-navbar ul li:first-child {
    position: absolute;
    left: 10px;
    display: none;
}

.news-navbar .citta {
    font-size: 16px;
}

.news-navbar a:link, .news-navbar a:visited {
    text-decoration: none;
    color: #005ac8;
}

.news-navbar ul li a:hover {
    color: darkblue;
}

/*end NEWS-NAVBAR RULES*/

/*start MAIN-CONTAINER RULES*/

.main-container {
    width: 978px;
    font-family: Roboto, sans-serif;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 22px 22px 100px;
    border: 1px solid #dddddd;
    overflow: auto;
}

.main-container::-webkit-scrollbar {
    display: none;
}

#advertise {
    align-content: center;
    margin-bottom: 22px;
}

.left-container {
    width: 660px;
    margin-right: 20px;
    float:left;
}
.left-container img {
    width:100%;
}

.right-container {
    width: 298px;
    float: left;
}

/*end MAIN-CONTAINER RULES*/

/*start LEFT ARTICLE RULES*/

.left-article {
    border-bottom: 1px solid #dddddd;
    margin-top: 16px;
}

.article-content {
    padding:16px 15px;
}

.category {
    font-size: 14px;
    font-stretch: condensed;
    font-weight: bold;
    color: #005ac8;
    letter-spacing: 2px;
    padding-top: 16px;
}

.article-title {
    font-size: 30px;
    font-weight: 700;
    font-stretch: condensed;
    margin: 15px 0;
}

.article-title a:link, .article-title a:hover, .article-title a:visited {
    text-decoration: none;
    color: black;
}

.article-title a:hover {
    color: #5f5f5f;
}

.abstract {
    font-size: 18px;
    margin-bottom: 15px;
}

.signature small {
    font-size: 80%;
    margin-right: 5px;
}

.signature span {
    font-size: 14px;
    font-stretch: condensed;
    font-weight: 700;
    text-transform: capitalize;
}

.related-articles {
    margin: 10px 0 0;
}

.related-articles a {
    display: block;
    color: #393939;
    padding-bottom: 5px;
}

.related-articles a:link, .related-articles a:visited {
    text-decoration: none;
}

.related-articles a:hover {
    text-decoration: underline;
    color: #005ac8;
}

.related-articles span {
    font-weight: 700;
    color: #005ac8;
    margin-right: 5px;
}

/* end LEFT ARTICLE RULES*/

/* start LEFT SECONDARY ARTICLE RULES */

.left-small-article {
    border-bottom: 1px solid #dddddd;
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
}

.left-small-article img {
    display: block;
    width: 330px;
    margin-bottom: 15px;
}

.small-article-content {
    padding-left: 15px;
    display: block;
    width: 315px;
    margin-bottom: 15px;
}

.small-category {
    font-size: 14px;
    font-stretch: condensed;
    font-weight: bold;
    color: #005ac8;
    letter-spacing: 2px;
}

.small-article-title {
    font-size: 24px;
    font-weight: 700;
    font-stretch: condensed;
    margin: 5px 0 15px;
}

.small-article-title a:link, .small-article-title a:hover, .small-article-title a:visited {
    text-decoration: none;
    color: black;
}

.small-abstract {
    font-size: 16px;
    margin-bottom: 15px;
}

.small-related-articles {
    margin: 10px 0;
    padding: 0 15px;
}

.small-related-articles a {
    display: block;
    color: #393939;
    padding-bottom: 5px;
}

.small-related-articles a:link, .small-related-articles a:visited {
    text-decoration: none;
}

.small-related-articles a:hover {
    text-decoration: underline;
    color: #005ac8;
}

.small-related-articles span {
    font-weight: 700;
    color: #005ac8;
    margin-right: 5px;
}

/* end LEFT SECONDARY ARTICLE RULES */

/* start RIGHT ARTICLE RULES */

.right-group {
    margin-top: 16px;
}

.right-group-title {
    font-family: Roboto, sans-serif;
    font-stretch: condensed;
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 3px solid #005ac8;
    width: 160px;
    display: block;
}

.right-article {
    margin-bottom: 50px;
}

.right-article-title {
    font-size: 20px;
    font-weight: 700;
    font-stretch: condensed;
    margin-bottom: 10px;
}

.right-article-title a:link, .right-article-title a:hover, .right-article-title a:visited {
    text-decoration: none;
    color: black;
}

.right-article-title a:hover {
    color: #5f5f5f;
}

.right-abstract {
    font-size: 18px;
    font-stretch: condensed;
}

/* end RIGHT ARTICLE RULES */

/* start FOOTER RULES */

#page-footer {
    width: 100%;
    height: 220px;
}

#footer-content {
    background-color: #005ac7;
    padding: 45px 0;
    display: flex;
    justify-content: space-evenly;
}

#footer-informations {
    height:48px;
    background-color: #0250b0;
}

#left-footer-content {
    display: block;
    text-align: center;
    height: 130px;
    width: 600px;
    flex-wrap: wrap;
}

#footer-title {
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 28px;
    color: white;
}

#footer-title span {
    font-size: 22px;
    font-weight: 900;
    color: #4f9eff;
}

#society {
    font-family: Helvetica, sans-serif;
    display: block;
    text-align: left;
    color: white;
    font-size: 14px;
    padding-bottom: 10px;
}

#society span {
    font-weight: bold;
}

#newspapers-links {
    padding-top: 10px;
    display: flex;
    justify-content: left;
}

#newspapers-links a:link, #newspapers-links a:hover, #newspapers-links a:visited {
    text-decoration: none;
    color: #004aa6;
    padding: 0 10px 0 0;
}

#quot-naz {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: block;
    padding-top: 5px;
}

#giorno {
    font-family: "Times New Roman", serif;
    font-size: 20px;
    font-weight: bold;
    display: block;
}

#nazione {
    font-family: Garamond, serif;
    font-size: 21px;
    font-weight: bold;
    display: block;
}

#telegrafo {
    font-family: Antiqua, serif;
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding-top: 4px;
}

#right-footer-content {
    display:block;
}

#footer-grid {
    display:flex;
    justify-content: center;
}

.footer-first-column, .footer-second-column, .footer-third-column {
    display: block;
    list-style-type: none;
    padding: 20px 30px 0 0;
    flex-wrap: nowrap;
}

#right-footer-content ul li {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    padding: 6px;
}

#right-footer-content a:link, #right-footer-content a:visited {
    text-decoration: none;
    color: white;
}

#right-footer-content a:hover {
    text-decoration: underline;
}

.list-header {
    color: #8db5e6;
}

.mobile-footer {
    display: none;
}

#footer-informations {
    display: flex;
    justify-content: space-between;
}

#copyright-container {
    display: block;
    padding-top: 15px;
    margin-left: 30px;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    color: #5087c9;
}

#privacy {
    display: block;
    margin-right: 30px;
}

#privacy ul {
    list-style-type: none;
}

#privacy li {
    float: left;
    padding: 16px 5px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
}

#privacy a:link, #privacy a:visited {
    text-decoration: none;
    color: white;
}

#privacy a:hover {
    text-decoration: underline;
}

/* end FOOTER RULES */

/* start BELL RULES */

#bell {
    position: fixed;
    left: 20px;
    bottom: 30px;
    background-color: #005ac8;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

#bell img {
    background-color: white;
    border-radius: 100%;
    padding:2px;
    margin: 8px;
}

/* end BELL RULES */

/* start SIDEBAR RULES */

.menu-button {
    text-decoration: none;
    cursor: pointer;
    border: 0;
    background-color: white;
}

#sidebar {
    width: 380px;
    height: auto;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid #dddddd;
    display: none;
    background-color: white;
    overflow: scroll;
    animation: slide 1s;
}

@keyframes slide {
    from {
        left: -500px;
    }
    to {
        left: 0;
    }
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar button {
    text-decoration: none;
    border: 0;
    cursor: pointer;
    background-color: white;
    float: right;
    padding-right: 20px;
    padding-top: 20px;
}

#search {
    padding: 30px 0 25px 30px;
    clear: both;
    color: #e3e3e3;
    border-bottom: 2px solid #005ac8;
}

#search img {
    float: left;
    padding-right: 20px;
}

#main-menu ul li {
    height: 50px;
    border-bottom: 1px solid #dddddd;
}

#main-menu ul li a {
    display: block;
    text-decoration: none;
    font-family: "Times New Roman", serif;
    font-size: 20px;
    font-weight: 600;
    color: #005ac8;
}
#main-menu ul li img {
    float: left;
    padding: 5px;
    margin: 6px 20px 0 10px;
    border: 1px solid #dddddd;
    border-radius: 100%;
}

#main-menu ul li p {
    float: left;
    padding-top: 12px;
}

#main-menu ul li a:hover {
    text-decoration: underline;
}
#main-menu ul li:first-child a:hover {
    text-decoration: none;
}
#main-menu ul li:nth-child(2) span img {
    float: right;
    padding-top: 12px;
    margin-right:20px;
    border: none;
}

#menu-group {
    max-width: 380px;
}

.sections-menu {
    background-color: #edf5ff;
    border-bottom: 1px solid #dddddd;
    padding: 30px 30px 15px 30px;
    display: block;
    height: 200px;
    clear: both;
}

.sections-title h6 {
    color: #96a8cf;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    display: block;
}

.sections-menu ul li {
    list-style-type: none;
    width: 130px;
    text-align: left;
    display: block;
    float: left;
    margin: 20px 20px 0 0;
}

.sections-menu ul li a {
    text-decoration: none;
    color: #393939;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.sections-menu ul li a:hover {
    text-decoration: underline;
}

#newspaper-menu ul {
    list-style-type: none;
}

#newspaper-menu ul li {
    height: 50px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

#newspaper-menu ul li a {
    display: block;
    text-decoration: none;
    padding-top: 15px;
    font-family: "Times New Roman", serif;
    font-size: 20px;
    font-weight: 600;
    color: #005ac8;
}

#newspaper-menu ul li:first-child a {
    font-family: Helvetica, sans-serif;
}

#newspaper-menu ul li:nth-child(2) a {
    font-family: "Times New Roman", serif;
    font-weight: 600;
}

/* start SIDEBAR RULES */

/* start MEDIA QUERIES */

@media screen and (max-width: 1024px){

    .advertise{
        max-width: 1024px;
        width: 100%;
    }

    .header-container {
        height: 250px;
    }

    #menu-primary li:first-child, #menu-primary li:nth-child(2){
        display: none;
    }
    #menu-primary li:last-child {
        padding-left:20px;
    }

    .weather {
        display: none;
    }

    .main-header {
        display: flex;
        justify-content: space-between;
    }
    .header-container h1 {
        display:block;
        font-size: 30px;
        margin: 10px;
    }
    .main-header .menu-button {
        display: block;
        padding-left: 20px;
    }
    .main-header .search {
        display: block;
        padding-right: 20px;
        padding-top: 20px;
    }

    .main-navbar {
        display: none;
    }

    .news-navbar {
        background-color: #e9f3ff;
        width: 1024px;
    }

    .news-navbar ul {
        font-size: 15px;
    }
    .news-navbar ul li {
        padding-top: 5px;
    }
    .news-navbar a:link, .news-navbar a:visited {
        text-decoration: none;
        color: #1f1f1f;
    }
    .news-navbar ul li a:hover {
        color: #005ac7;
    }
    .news-navbar ul li:first-child {
        display: block;
    }
    .news-navbar ul li:first-child a {
        border-right: 1px solid #dddddd;
        padding-right: 8px;
        color: #005ac8;
    }

    #footer-content {
        display: block;
    }

    #left-footer-content {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #right-footer-content {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {

    .header-container {
        height: 200px;
    }

    .header1 {
        display: none;
    }

    .navbar1 {
        height: 40px;
        background-color: #005ac7;
        border-bottom: 2px solid #0250b0;
    }

    #menu-primary li {
        padding-top: 10px;
    }

    #menu-secondary li {
        margin-top: 10px;
    }

    .navbar1 a:link, .navbar1 a:visited {
        color: white;
        font-size: 17px;
    }

    .navbar1 a:hover {
        text-decoration: underline;
    }

    .main-header {
        background-color: #005ac7;
    }

    .main-header .menu-button {
        background-color: #005ac7;
    }

    .main-header h1 {
        color: white;
        font-size: 25px;
    }

    .main-header .search {
        padding-top: 15px;
    }

    #advertise {
        display: none;
    }

    .main-container {
        width: 100%;
        max-width: 660px;
        border: 0;
        padding: 0 0 100px;
    }

    .right-container {
        display: none;
    }

    .left-container {
        width: 100%;
    }

    .left-small-article {
        display: none;
    }

    #footer-content {
        padding: 45px 0 0;
    }

    #left-footer-content {
        margin: 0 auto 0;
        max-width: 100%;
    }

    #newspapers-links {
        display: grid;
        grid-template-columns: 200px 200px;
        justify-content: space-between;
    }

    #quot-naz {
        text-align: left;
    }

    #nazione {
        text-align: left;
    }

    #giorno {
        text-align: right;
    }

    #telegrafo {
        text-align: right;
    }

    #footer-grid {
        display: none;
    }

    .mobile-footer {
        display: block;
        margin: 0 5% 0;
    }

    .footer-drop-menu {
        display: block;
        height: 50px;
        border-bottom: 1px solid #95bbe8;
        cursor: pointer;
    }
    .footer-drop-menu h6 {
        font-family: Inter, sans-serif;
        font-size: 18px;
        color: #95bbe8;
        font-weight: bold;
        padding-top: 20px;
    }

}

/* start MEDIA QUERIES */