
*{
    margin: 0;
    padding: 0;
}

/* start ADVERTISE RULES */

.advertise {
    width: 1024px;
    height: 116px;
}

/* end ADVERTISE RULES */

/* start HEADER RULES */

.header-container {
    width: 1024px;
    height: 351px;
    font-family: Roboto, sans-serif;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header1 {
    font-weight: bold;
    font-stretch: condensed;
    height: 24px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
    padding-top: 5px;
}

.header1 span {
    color: #4f9eff;
}

.header1 a:link, a:visited, a:hover {
    text-decoration: none;
    color: #005ac8;
}

.navbar1 {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #eeeeee;
    position: relative;
}

.navbar1 a:link, a:visited {
    text-decoration: none;
    font-family: serif;
    color: black;
    font-size: 17px;
}

.navbar1 a:hover {
    text-decoration: underline;
}

#menu-primary {
    list-style-type: none;
    font-family: sans-serif;
}

#menu-primary li {
    height: 100%;
    width: 50px;
    float: left;
    padding-top: 20px;
    display: block;
}

#menu-primary li:first-child {
    margin-left: 20px;
    padding-top: 22px;
    width: 30px;
}

#menu-primary li:last-child {
    width: 200px;
}

#menu-secondary {
    position: absolute;
    right: 10px;
}

#menu-secondary li {
    height: 100%;
    width: 60px;
    float: left;
    margin-top: 20px;
    display: block;
}

#menu-secondary li:nth-child(2) {
    border-left: 1px solid #eeeeee;
    padding-left: 10px;
    width: 80px;
}

#menu-secondary li:last-child {
    width: 30px;
}

.header-container h1 {
    text-align: center;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: #4f9eff;
    margin-top: 30px;
    margin-bottom: 20px;
}

.weather {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.weather ul {
    list-style-type: none;
}

.weather ul li {
    float: left;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

.weather ul li a:link, a:visited {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: darkgrey;
}

.weather ul li a:hover {
    color: #005ac8;
    font-size: 14px;
}

.weather ul li:last-child {
    padding-top: 2px;
    padding-left: 5px;
}

/*end HEADER RULES*/

/*start MAIN-NAVBAR RULES*/

.main-navbar {
    display: flex;
    justify-content: center;
    height: 45px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.main-navbar ul {
    list-style-type: none;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    font-family: Inter, sans-serif;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.main-navbar ul li {
    padding: 6px;
}

.main-navbar ul li a:link, a:visited {
    text-decoration: none;
    color: black;
}

.main-navbar ul li a:hover {
    color: #005ac8;
}

.main-navbar ul li:first-child {
    position: absolute;
    left: 10px;
}

#citta:link, #citta:hover, #citta:visited {
    color: #ee3840;
}

/*end MAIN-NAVBAR RULES*/

/*start NEWS-NAVBAR RULES*/

.news-navbar {
    display: flex;
    justify-content: center;
    height: 45px;
    border-top: 1px solid #eeeeee;
}

.news-navbar ul {
    list-style-type: none;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    font-family: Inter, sans-serif;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.news-navbar ul li {
    padding: 6px;
}

.news-navbar ul li a:link, a:visited {
    text-decoration: none;
    color: #005ac8;
}

.news-navbar ul li a:hover {
    color: darkblue;
}

/*end NEWS-NAVBAR RULES*/